@media screen and (max-width: 720px) {
  .hero img {
    max-width: 300px;
  }

  .main-index, 
  .third {
    min-width: 100%;
  }

  .work-experience {
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .hero .quick-stats .icon {
    width: 1.5em;
  }
}

.third {
  float: left;
  left: 0;
  width: 33.33333%;
}

.hero {
  height: 100%;
}
.hero-img {
  text-align: center;
}

.hero img {
  width: 80%;
  margin-bottom: 1rem;
}

.hero .quick-stats td {
  vertical-align: baseline;
  text-align: center;
  padding-bottom: 1.2em;
  word-wrap: break-word;
}

.hero .quick-stats i {
  font-size: 1.3em;
  margin-left: 0.3em;
  margin-right: 0.4em;
  color: var(--bg-color);
}

.hero .quick-stats p {
  text-align: left;
  margin-left: 0.6em;
}

.about h2,
.education h2 {
  margin-top: 1.8em;
}

.about p {
  line-height: var(--line-height);
  padding: 0.3rem;
} 

.main-index {
  float: right;
  margin-left: 1.5%;
  width: 63.66666%;
}

.education .fa-calendar-days, 
.work-experience .fa-calendar-days {
  font-size: 1em;
  margin-bottom: 0.4em;
  margin-right: 0.4em;
  color: var(--bg-color);
}

.main-index hr,
.hero hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.main-index h3, 
.education h3 {
  margin-bottom: 0.2em;
}

.main-index .duration, 
.education .duration {
  color: var(--bg-color);
}

.main-index ul {
  margin-top: 0.5em;
  list-style-position: inside;
  list-style: none;
}

.main-index li::before {
  content: "\25AA";
  font-weight: 700;
  display: inline-block;
  width: 1em; 
  color: var(--bg-color)
}

.work-title {
  font-weight: 600;
  margin-top: 0.4em;
}

.education {
  margin-top: 2em;
}

.tech {
  margin-top: 2em;
}
  
.tech-icons {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top:0.6em;
}

.tech i{
  font-size: 3em;
  color: var(--primary-color); 
  text-shadow: 1px 1px 2px  var(--primary-shadow);
  background-color: #ffffff;
  border-radius: 0.3em;
  box-shadow: var(--box-shadow);
  padding: 0.1em;
  margin: 0.2em;
}
