.projects h2 {
  text-align: center;
}

.projects img {
  width: 100%;
  margin-bottom: 2em;
}

.project-card:nth-child(odd) {
  background-color: var(--secondary-bg);
}

.projects-container,
.projects-container > .project-card {
  padding: 1em;
}

.project-card {
  float:left;
  width: 33%;
  height: 35em;
}

.project-card hr {
  margin-bottom: 2em;
}

.projects-container:after {
  content: "";
  display: table;
  clear: both;
}

.project-content {
  padding: 1.2em;
}


.project-btn {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.project-card {
  text-decoration: none;
  font-weight: var(--normal-font);
  border-radius: var(--border-radius);
  color: black;
}

.project-card:hover {
  background-color: var(--primary-color-opacity);
  
}

.projects li {
  display: inline;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 720px) {
  .project-card {
    width: 100%;
  }
}
