.projects h2 {
  text-align: center;
}

.projects img {
  width: 100%;
  margin-bottom: 2em;
}
.project-card:nth-child(odd) {
  background-color: var(--secondary-bg);
}

.projects-container,
.projects-container > .project-card {
  padding: 1em;
}

.project-card {
  float:left;
  width: 33%;
  height: 35em;
}

.projects-container:after {
  content: "";
  display: table;
  clear: both;
}

.project-content {
  padding: 1.2em;
}


.project-btn {
  
  
  text-align: center;
  display: flex;
  flex-direction: column;

}
.project-btn a {
  background-color: var(--bg-color);
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: var(--normal-font);
  padding: 0.5em;
  border-radius: var(--border-radius);
  
}

.project-btn a:hover {
  background-color: var(--primary-color);
}

.projects li {
  display: inline;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .project-card {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .project-card {
    width: 100%;
  }
}
