@import "https://fonts.googleapis.com/css?family=Roboto";

:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --bg-color: #32004b;
  --secondary-bg: #e4dfda88;
  --primary-color: #ff7300;
  --primary-color-opacity: #ff730050;
  --secondary-color: #ffffff;
  --primary-shadow: #000000;
  --box-shadow: 0px 2px 10px 1px var(--primary-shadow);
  --line-height: 1.7rem;
  --transition: 0.3s;
  --border-radius: 3px;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 1em;
  background-color: var(--bg-color);
  padding: 0.6em;
  color: #ffffff;
  border-radius: var(--border-radius);
  border: var(--primary-color);
  border-style: solid;
  border-width: 0.1em;
}

body {
  background-color:var(--secondary-bg);
  font-family: var(--font-family);
}

section {
  background-color: var(--secondary-color);
  padding: 1.5em;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.container {
  max-width: 1280px;
  padding: 2em;
  margin: auto;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}
