/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #32004b;
  --primary-color: #ff7300;
  --secondary-color: #ffffff;
  --primary-shadow: #000000;
  --secondary-shadow: #0077ff;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- Nav Bar Starts ----- */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 5px var(--primary-shadow);
  background-color: var(--bg-color);
}

@keyframes color-change {
  0% { color: var(--primary-color); }
  50% { color: var(--secondary-color); }
  100% { color: var(--primary-color); }
}



nav h1 {
  padding-left: 20px;

  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    var(--primary-color) 45%,
    
    var(--secondary-color) 50%,
    
    var(--primary-color) 55%
  );
  background-size: 90% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;      
}
@keyframes textclip {
  to {
    background-position: 900% center;
  }
}



nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  float: left;
  font-weight: var(--bold-font);
}

nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  transition: var(--transition);
  color: #ffffff;
}

nav a:hover {
  color: #ffffff;
  background-color: var(--primary-color);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
} 
/* ----- Nav Bar Ends ----- */


body {
  font-family: var(--font-family);
}


#topsection {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}


/* ----- Hero Starts ----- */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 20rem;
  width: 20rem;
}

.about {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.about h1 {
  margin-bottom: var(--bottom-margin);
}

.about p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
} 
/* ----- Hero Ends ----- */
